<div class="container-lg">
  <h1 style="text-align: center;">Conversor de Moedas</h1>

  <form>
    <div class="mb-5">
      <label for="exampleInputEmail1" class="form-label">Valor a ser convertido</label>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Converter para...
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <ul class="list-group">
          <li class="list-group-item">Dólar</li>
          <li class="list-group-item">Euro</li>
          <li class="list-group-item">Real</li>
          <li class="list-group-item">Peso Argentino</li>
          <li class="list-group-item">Yuan chinês</li>
        </ul>
      </div>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <label for="exampleInputPassword1" class="form-label mt-3">Valor de câmbio</label>
      <input type="text" class="form-control" id="valorCambio" aria-describedby="valorCambio" readonly>
    </div>
    <div class="mb-5">
      <label for="exampleInputPassword1" class="form-label">Valor convertido</label>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Converter para...
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button class="btn btn-primary">Converter</button>
  </form>
</div>
